/* STYLES FOR MY NAVBAR */

.navbar {
  background-color: #d9526b;
  display: flex;
  justify-content: center;
  padding: 1.25rem 1.25rem; /* 20px = 1.25rem */
  align-items: center;
  gap: 8rem;
  flex-wrap: wrap;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  font-family: "Montserrat";
  font-size: 1.125rem; /* 18px = 1.125rem */
}

.navbar h2 {
  font-family: "Grand Hotel";
  font-size: 2.5rem; /* 40px = 2.5rem */
  color: black;
  cursor: pointer;
}

.navbar button {
  background-color: hsl(263, 100%, 46%);
  font-family: "Caveat";
  border-radius: 3.125rem; /* 50px = 3.125rem */
  font-size: 1.25rem; /* 20px = 1.25rem */
  padding: 0.5rem 0.9375rem; /* 8px = 0.5rem, 15px = 0.9375rem */
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.navbar button:hover {
  background-color: hsl(263, 100%, 36%);
}

.buttonBars {
  display: none;
}

@media (max-width: 1024px) { /* 700px = 43.75rem */
  .buttonBars {
    display: block;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 1.2rem;
    z-index: 10;
    top: -100%;
    width: 100%;
    background-color: #F2A6A6;
    border-radius: 0 0 1.25rem 1.25rem; /* 20px = 1.25rem */
    right: 0;
    padding: 0.9375rem; /* 15px = 0.9375rem */
    transition: all 0.7s ease-in;
  }

  .navbar ul.active {
    top: 5.2rem;
    transition: all 0.6s ease-in-out;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 1.25rem; /* 20px = 1.25rem */
    flex-wrap: wrap;
  }


}
