/* STYLES FOR MY NAVBARr */

.navbar {
  background-color: #d9526b;
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  align-items: center;
  gap: 8rem;
  flex-wrap: wrap;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 3rem;
  font-family: "Montserrat";
  font-size: 18px;
}

.navbar h2 {
  font-family: "Grand Hotel";
  font-size: 40px;
  color: black;
  cursor: pointer;
}

.navbar button {
  background-color: hsl(263, 100%, 46%);
  font-family: "Caveat";
  border-radius: 50px;
  font-size: 20px;
  padding: 8px 15px;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.navbar button:hover {
  background-color: hsl(263, 100%, 36%);
}
