@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2a6a6;
}

/* OFFER SECTION APP CSS CLASSES */

.offerSection h2 {
  font-family: "Grand Hotel";
  font-size: 3rem;
  text-align: center;
  margin-top: 1.5rem;
}

.cardContainer {
  background-color: rgb(255, 255, 255);
  padding: 2% 10% 10% 10%;
  margin: 1.5625rem 4.6875rem 4.6875rem 4.6875rem;
  border-radius: 1.25rem;
}

.cardContainer h3 {
  font-family: "Grand Hotel";
  font-size: 2.5rem;
  text-align: center;
}

/* GALLERY SECTION APP CSS CLASSES */

.gallerySection {
  display: flex;
  flex-direction: column;
  margin: 0.625rem 4.6875rem 4.6875rem 4.6875rem;
  gap: 1.5625rem;
}

.gallerySection h2 {
  font-family: "Grand Hotel";
  font-size: 3rem;
  text-align: center;
}

.conocerSection {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 1.5625rem 4.6875rem 4.6875rem 4.6875rem;
  border-radius: 1.25rem;
}

.conocerSection h2 {
  font-family: "Grand Hotel";
  font-size: 3rem;
  text-align: center;
  padding-top: 2.5rem;
}

/* TESTIMONIO SECTION APP CSS CLASSES */

.testimonialSection h2 {
  font-family: "Grand Hotel";
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.625rem;
}

.testimonialContainer {
  background-color: rgb(255, 255, 255);
  padding: 2% 10% 10% 10%;
  margin: 1.5625rem 4.6875rem 4.6875rem 4.6875rem;
  border-radius: 1.25rem;
}

.testimonialContainer h3 {
  font-family: "Grand Hotel";
  font-size: 2.5rem;
  text-align: center;
}

.slick-slider {
  width: 100%;
  overflow: visible;
  padding: 5% 5%;
}

.slick-list {
  overflow: visible;
}

.slick-prev:before,
.slick-next:before {
  color: rgb(0, 0, 0) !important;
}

.slick-dots {
  left: 0 !important;
}

@media (max-width: 430px) {
  .gallerySection {
    margin: 0.625rem 0.625rem;
    padding: 0.625rem 0.625rem;
  }

  .conocerSection {
    margin: 0.625rem 0.625rem;
    padding: 1.25rem 1.25rem;
  }

  .testimonialContainer {
    padding: 2.5rem 2.5rem;
    margin: 1.25rem 1.25rem;
  }

  .cardContainer {
    padding: 2.5rem 0.3125rem;
    margin: 2.5rem 2.5rem;
  }

  .testimonialContainer h3 {
    font-size: 2rem;
  }

  .conocerSection h2 {
    font-size: 2.5rem;
  }
}