@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2a6a6;
}

/* OFFER SECTION APP CSS CLASSES */

.offerSection h2 {
  font-family: "Grand Hotel";
  font-size: 3rem;
  text-align: center;
  margin-top: 1.5rem;
}

.cardContainer {
  background-color: rgb(255, 255, 255);
  padding: 2% 10% 10% 10%;
  margin: 25px 75px 75px 75px;
  border-radius: 20px;
}

.cardContainer h3 {
  font-family: "Grand Hotel";
  font-size: 2.5rem;
  text-align: center;
}

/* GALLERY SECTION APP CSS CLASSES */

.gallerySection {
  display: flex;
  flex-direction: column;
  margin: 10px 75px 75px 75px;
  gap: 25px;
}

.gallerySection h2 {
  font-family: "Grand Hotel";
  font-size: 3rem;
  text-align: center;
}

.conocerSection {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 25px 75px 75px 75px;
  border-radius: 20px;
}

.conocerSection h2 {
  font-family: "Grand Hotel";
  font-size: 3rem;
  text-align: center;
  padding-top: 40px;
}

/* TESTIMONIO SECTION APP CSS CLASSES */

.testimonialSection h2 {
  font-family: "Grand Hotel";
  font-size: 3rem;
  text-align: center;
  margin-bottom: 10px;
}

.testimonialContainer {
  background-color: rgb(255, 255, 255);
  padding: 2% 10% 10% 10%;
  margin: 25px 75px 75px 75px;
  border-radius: 20px;
}

.testimonialContainer h3 {
  font-family: "Grand Hotel";
  font-size: 2.5rem;
  text-align: center;
}

.slick-slider {
  width: 100%;
  overflow: visible;
  padding: 5% 5%;
}

.slick-list {
  overflow: visible;
}

.slick-prev:before,
.slick-next:before {
  color: rgb(0, 0, 0) !important;
}

.slick-dots {
  left: -0px !important;
}


@media (max-width: 430px) {
  .gallerySection {
    margin: 10px 10px;
    padding: 10px 10px;
  }

  .conocerSection {
    margin: 10px 10px;
    padding: 20px 20px;
  }

  .testimonialContainer {
    padding: 40px 40px;
    margin: 20px 20px;
  }

  .cardContainer {
    padding: 40px 5px;
    margin: 20px 20px;
  }

  .testimonialContainer h3 {
    font-size: 2rem;
  }

  .conocerSection h2 {
    font-size: 2.5rem;
  }
}
