@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2a6a6;
}

/* OFFER SECTION APP CSS CLASSES */

.offerSection {
  display: flex;
  flex-direction: column;
  margin: 25px 75px 75px 75px;
  gap: 25px;
}

.offerSection h2 {
  font-family: "Grand Hotel";
  font-size: 3rem;
  text-align: center;
}

.cardSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 20px 60px 20px;
  gap: 20px;
  background-color: #ffffff;
  border-radius: 20px;
}

.cardSectionContainer h3 {
  font-family: "Grand Hotel";
  font-size: 2.5rem;
  text-align: center;
}

.cardSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

/* GALLERY SECTION APP CSS CLASSES */


.gallerySection {
  display: flex;
  flex-direction: column;
  margin: 10px 75px 75px 75px;
  gap: 25px;
}

.gallerySection h2 {
  font-family: "Grand Hotel";
  font-size: 3rem;
  text-align: center;
}



.conocerSection {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 25px 75px 75px 75px;
  border-radius: 20px;

}

.conocerSection h2 {
  font-family: "Grand Hotel";
  font-size: 3rem;
  text-align: center;
  padding-top: 40px;
}

/* TESTIMONIO SECTION APP CSS CLASSES */

.testimonialSection h2 {
   font-family: "Grand Hotel";
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
}

.testimonialContainer {
  background-color: rgb(255, 255, 255);
  padding: 2% 10% 10% 10%;
  margin: 25px 75px 75px 75px;
  border-radius: 20px;
}

.slick-slider {
  width: 100%;
  overflow: visible; 
  padding: 5% 5%;
}

.slick-list {
  overflow: visible; 
}

.slick-prev:before,
.slick-next:before {
  color: rgb(0, 0, 0) !important;

}

.slick-dots {
  left: -0px !important;
}


/* MEDIA QUERIES for CARD AND OFFER SECTION*/

@media only screen and (max-width: 768px) {
  .cardSectionContainer {
    background-color: #f7f7f7;
    border-radius: 20px;
    margin: 0px;
  }

  .cardSection {
    max-width: 100%;
  }

  .offerSection {
    margin: 5%;
  }
}

/* MEDIA QUERIES FOR GALLERY SECTION*/

@media (max-width: 480px) {
  .gallerySection {
  margin: 10px 10px;
  padding: 10px 10px;
  }

  .conocerSection {
    margin: 10px 10px;
    padding: 10px 10px;
  }


.testimonialContainer {
  padding: 5px 5px;
  margin: 20px 20px;
}

}