.footerContainer {
  background: url("/src/assets/footerImg.jpg") no-repeat center center;
  background-size: cover;
  padding: 2rem 0;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10%;
  position: relative;
}

.footerContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.businessMark {
  z-index: 1;
  max-width: 31.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 2% 2%;
}

.contacto {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 2% 2%;
}

.social {
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin: 2% 2%;
  gap: 0.9375rem;
}

.socialNetworkContainer {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}

.fontIcon {
  font-size: 2rem;
}

.titles {
  font-family: "Grand Hotel";
  font-size: 3rem;
  text-align: center;
}

.titleVerseCap {
  font-family: "Grand Hotel";
  font-size: 2rem;
  color: #fedd03;
}

.pTagVerse {
  font-family: "Montserrat";
  font-size: 1rem;
  background-color: hsl(52, 99%, 50%);
  border-radius: 1.25rem;
  padding: 3% 3%;
  color: black;
}

.pTags {
  font-family: "Montserrat";
  font-size: 1.0625rem;
}

.infoContainer {
  display: flex;
  gap: 1.875rem;
}

.contactTags {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.contactTagsInfo {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.icon {
  margin-right: 1.25rem;
}

@media (max-width: 700px) {

  .titles {
    display: none;
  }

  .businessMark {
    padding: 2% 2%;
    max-width: 31.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.0625rem;
  }

  .pTagVerse {
    font-family: "Montserrat";
    font-size: 0.75rem;
    background-color: hsl(52, 99%, 50%);
    border-radius: 1.25rem;
    padding: 3% 3%;
    color: black;
  }

  .titleVerseCap {
    font-family: "Grand Hotel";
    font-size: 1.5rem;
    color: #fedd03;
  }

  .fontIcon {
    font-size: 1.8rem;
  }

  .icon {
    font-size: 0.8rem;
    margin-right: 0.75rem;
  }

  .pTags {
    font-family: "Montserrat";
    font-size: 0.75rem;
  }

  .contacto {
    padding: 2% 2%;
  }

  .social {
    padding: 2% 2%;
  }

  .contactTagsInfo {
    gap: 1.25rem;
  }
}