.footerContainer {
  background: url("/src/assets/footerImg.jpg") no-repeat center center;
  background-size: cover;
  padding: 2rem 0;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10%;
  position: relative;
}

.footerContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); /* Dark overlay */
}

.businessMark {
  z-index: 1;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 2% 2%;
}

.contacto {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 2% 2%;
}

.social {
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin: 2% 2%;
  gap: 15px;
}

.socialNetworkContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.fontIcon {
  font-size: 2rem;
}

.titles {
  font-family: "Grand Hotel";
  font-size: 3rem;
  text-align: center;
}

.titleVerseCap {
  font-family: "Grand Hotel";
  font-size: 2rem;
  color: #fedd03;
}

.pTagVerse {
  font-family: "Montserrat";
  font-size: 16px;
  background-color: hsl(52, 99%, 50%);
  border-radius: 20px;
  padding: 3% 3%;
  color: black;
}

.pTags {
  font-family: "Montserrat";
  font-size: 17px;
}

.infoContainer {
  display: flex;
  gap: 30px;
}

.contactTags {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactTagsInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon {
  margin-right: 20px; /* Adjust the space as needed */
}

@media (max-width: 700px) {

.titles {
  display: none;
}

  .businessMark {
    padding: 2% 2%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1px;
    
  }

  .pTagVerse {
  font-family: "Montserrat";
  font-size: 12px;
  background-color: hsl(52, 99%, 50%);
  border-radius: 20px;
  padding: 3% 3%;
  color: black;
}

.titleVerseCap {
  font-family: "Grand Hotel";
  font-size: 1.5rem;
  color: #fedd03;
}

.fontIcon {
  font-size: 1.8rem;
}

.icon {
  font-size: 0.8rem; /* Adjust the space as needed */
   margin-right: 12px;
}

.pTags {
  font-family: "Montserrat";
  font-size: 12px;
}

  .contacto {
    padding: 2% 2%;
  }

  .social {
    padding: 2% 2%;
  }

  .contactTagsInfo {
    gap: 20px;
  }
}
