.popUpCard {
  display: flex;
  gap: 1.875rem;
  border-radius: 1.25rem;
  padding: 1.25rem;
  max-width: 55.125rem;
  width: 100%;
  max-height: 27.625rem;
  height: 100%;
  background-color: #f6d3d3;
  margin: 1.25rem 3.125rem;
}

.imgContainer {
  width: 31.25rem;
  height: auto;
  border-radius: 1.25rem;
  overflow: hidden;
}

.infoContainer {
  padding: 0.625rem;
  background-color: #f6d3d3;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.imgContainer img {
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1.25rem;
  margin-bottom: 1.25rem;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.7rem;
}

.buttonContainer button {
  font-family: "Montserrat", sans-serif;
  background-color: #fedd03;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 1.25rem;
  font-weight: 500;
}

.pTagCards {
  max-height: auto;
  overflow: auto;
}

.buttonLeer {
  display: none;
}

@media (max-width: 37.5rem) {
  .popUpCard {
    flex-direction: column;
    max-width: 21.875rem;
    width: 100%;
    max-height: 62.5rem;
    height: auto;
    overflow: auto;
    gap: 1.875rem;
  }

  .imgContainer {
    width: 100%;
    height: 18.75rem;
  }

  .img {
    object-fit: contain;
  }

  .infoContainer {
    padding: 0 0.625rem;
  }

  .pTagCards {
    max-height: none;
    overflow: hidden;
  }

  .expandText {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .buttonLeer {
    display: block;
    text-decoration: underline;
  }
}