
.card {
    border-radius: 20px;
    padding: 20px;
    /*margin: 20px;*/
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 532px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    background-color: #F6D3D3;

}

.cardImg {
    width: 291px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 20px;
}



h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    overflow: auto;
    text-overflow: ellipsis;

}

.pTagCards {
    height: 11rem;
}


.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cardButton {
    font-family: 'Montserrat', sans-serif;
    background-color: #FEDD03;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 20px;
  
}