
.slideItem {
  box-sizing: border-box; 
  padding: 0 10px; 
  width: 100%;
}

.testimonialCard {
  background-color: #fedd03;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
  max-width: 300px; 
  margin: 0 auto; 
  overflow: hidden; 
}

.testimonialBody {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  word-wrap: break-word; 
}

.imgAvatar {
  max-width: 80px; 
  border-radius: 50%;
  margin: 10px 0;
}

