.galleryItem {
  width: 100%;
  display: block;
  opacity: 1;
  transform: scale(1);
  transition: 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.hidden {
  transform: scale(0.9);
}

.galleryContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.galleryWrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 1.25rem 3.125rem 1.25rem 3.125rem;
  margin: 0.9375rem 0.9375rem;
  height: 71.875rem;
  border-radius: 1.25rem;
  background-color: rgb(255, 255, 255);
}

.filterItems ul {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
  flex-wrap: wrap;
}

.filterItems button {
  font-family: "Grand Hotel", sans-serif;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  background: transparent;
  position: relative;
}

.filterItems button:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.1875rem;
  background-color: rgb(0, 0, 0);
  transition: 0.3s ease-in;
}

.filterItems button.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 90%;
  height: 0.125rem;
  transform: translateX(-50%);
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popupContent {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popupContent img {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 0.75rem;
}

.closeBtn {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  background: #fff;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 3.125rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBtnLeft {
  position: absolute;
  left: -4.375rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.navBtnRight {
  position: absolute;
  right: -3.875rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.navBtnLeft:hover,
.navBtnRight:hover {
  background: white;
  border-radius: 20%;
  padding: 0.3125rem;
}

@media (max-width: 480px) {
  .galleryWrapper {
    margin: 0;
    padding: 1.25rem 1.25rem;
  }

  .navBtnLeft {
    left: -2.5rem;
  }

  .navBtnRight {
    right: -2.5rem;
  }

  .popupContent {
    max-width: 75%;
    max-height: 75%;
  }

  .navBtnLeft:hover,
  .navBtnRight:hover {
    background: white;
    border-radius: 20%;
    padding: 0.3125rem;
  }
}
