/* Importar fuentes locales */

.hero {
  width: 100%;
  min-height: 100vh;
  background: url("../../assets/presentation-wall-3.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 0;
}

.heroTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
  position: relative;
}

.hero h2 {
  font-family: "Cabin Sketch", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 7rem;
  color: white;
  max-width: 59.375rem;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.7);
}

.hero p {
  font-family: "Caveat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  color: white;
  max-width: 56.25rem;
  text-align: center;
}

.hero button {
  background-color: hsl(263, 100%, 46%);
  font-family: "Caveat", sans-serif;
  border-radius: 3.125rem;
  font-size: 1.875rem;
  padding: 0.9375rem 1.25rem;
  color: white;
  cursor: pointer;
  border: none;
  margin-top: 1.25rem;
  transition: background-color 0.3s ease;
}

.hero button:hover {
  background-color: hsl(260, 100%, 36%);
}

@media (max-width: 43.75rem) {
  .hero h2 {
    font-family: "Cabin Sketch", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    color: white;
    max-width: 59.375rem;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.7);
    padding-left: 0.9375rem;
  }

  .hero p {
    font-family: "Caveat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    max-width: 56.25rem;
    text-align: center;
  }

  .hero button {
    background-color: hsl(263, 100%, 46%);
    font-family: "Caveat", sans-serif;
    border-radius: 3.125rem;
    font-size: 1rem;
    font-weight: 800;
    padding: 0.9375rem 1.25rem;
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 1.25rem;
    transition: background-color 0.3s ease;
  }

  .hero button:hover {
    background-color: hsl(260, 100%, 36%);
  }
}