.slideItem {
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;
}

.card {
  border-radius: 1.25rem;
  padding: 1.25rem; 
  display: flex;
  flex-direction: column;
    max-width: 330px; 
  width: 100%;
  margin: 0 auto; 
  height: 33.25rem; 
  box-shadow: 0.3125rem 0.3125rem 0.3125rem hsla(0, 0%, 0%, 0.1); 
  background-color: #f6d3d3;
}

.cardImg {
  width: 100%;
  height: 12.5rem; 
  object-fit: cover;
  border-radius: 1.25rem; 
  margin-bottom: 1.25rem; 
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.pTagCards {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  max-height: 11rem;
  overflow: auto; 
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem; 
}

.cardButton {
  font-family: "Montserrat", sans-serif;
  background-color: #fedd03;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 1.25rem; 
  font-weight: 500;
}

.buttonLeer {
    display: none;
}


@media (max-width: 430px) {
  .card {
    width: 15rem; 
    height: 25rem; 
  }

  .cardImg {
    height: 8rem; 
  }

  h4 {
    font-size: 1rem;
  }

  .pTagCards {
    font-size: 0.8rem;
    -maxheight: 11rem;
  }

  .slideItem {
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
  }

  .buttonContainer {
    margin-top: 0rem;
    margin-top: 0.8rem; 
  }

  .cardButton {
    font-size: 0.7rem;
  }

  .pTagCards {
   max-height: none; 
  overflow: hidden;

}

.expandText {
  display: -webkit-box;              
  -webkit-line-clamp: 5;             
  line-clamp: 5;                     
  -webkit-box-orient: vertical;      
  overflow: hidden;                  
  text-overflow: ellipsis; 
}

.buttonLeer {
    display: block;
    font-size: 0.8rem;
    text-decoration: underline;
   
}

.card { 
  height: auto;
}



}
