.slideItem {
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;
}

.card {
  border-radius: 1.25rem; /* 20px = 1.25rem */
  padding: 1.25rem; /* 20px = 1.25rem */
  display: flex;
  flex-direction: column;
    max-width: 330px; /* O el tamaño que prefieras */
  width: 100%;
  margin: 0 auto; /* Esto lo centra */
  height: 33.25rem; /* 532px = 33.25rem */
  box-shadow: 0.3125rem 0.3125rem 0.3125rem hsla(0, 0%, 0%, 0.1); /* Sombra */
  background-color: #f6d3d3;
}

.cardImg {
  width: 100%;
  height: 12.5rem; /* 200px = 12.5rem */
  object-fit: cover;
  border-radius: 1.25rem; /* 20px = 1.25rem */
  margin-bottom: 1.25rem; /* 20px = 1.25rem */
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.pTagCards {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  max-height: 11rem;
  overflow: auto; /* Permite el scroll si el texto es muy largo */
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem; /* 20px = 1.25rem */
}

.cardButton {
  font-family: "Montserrat", sans-serif;
  background-color: #fedd03;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 1.25rem; /* 20px = 1.25rem */
  font-weight: 600;
}

.buttonLeer {
    display: none;
}


@media (max-width: 430px) {
  .card {
    width: 15rem; /* 330px = 20.625rem */
    height: 25rem; /* 532px = 33.25rem */
  }

  .cardImg {
    height: 8rem; /* 200px = 12.5rem */
  }

  h4 {
    font-size: 1rem;
  }

  .pTagCards {
    font-size: 0.8rem;
    -maxheight: 11rem;
  }

  .slideItem {
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
  }

  .buttonContainer {
    margin-top: 0rem;
    margin-top: 0.8rem; /* 20px = 1.25rem */
  }

  .cardButton {
    font-size: 0.7rem;
  }

  .pTagCards {
   max-height: none; /* Ensure no height restriction */
  overflow: hidden; /* Hide overflow content */

}

.expandText {
  display: -webkit-box;              /* Required for line-clamp to work */
  -webkit-line-clamp: 5;             /* Number of visible lines */
  -webkit-box-orient: vertical;      /* Vertical text direction */
  overflow: hidden;                  /* Hide overflowed content */
  text-overflow: ellipsis; 
}

.buttonLeer {
    display: block;
    font-size: 0.8rem;
    text-decoration: underline;
   
}

.card { 
  height: auto;
}



}
